APP_NAME=Airagram
APP_BUNDLE_ID=org.a74d5e43279953af.airagram
APP_SPECIFIC_URL_SCHEME=airagram

GLOBAL_CONSTANTS = APP_CONFIG_IS_INTERNAL_BUILD=true APP_CONFIG_IS_APPSTORE_BUILD=false APP_CONFIG_APPSTORE_ID=0 APP_SPECIFIC_URL_SCHEME="\"$(APP_SPECIFIC_URL_SCHEME)\""
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GLOBAL_CONSTANTS)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) APP_CONFIG_API_ID=0 APP_CONFIG_API_HASH="\"YOUR_API_HASH_HERE\"" APP_CONFIG_HOCKEYAPP_ID="\"\""